
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f4f4f4;
        padding: 20px;
    }

    .about-section {
        background: #fff;
        margin: 20px 0;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 800px;
        text-align: center;
    }

        .about-section h2 {
            color: #333;
            margin-bottom: 10px;
        }

        .about-section p, .about-section ul {
            color: #555;
        }

        .about-section ul {
            list-style-type: none;
            padding: 0;
        }

            .about-section ul li {
                background: #e2e2e2;
                margin: 5px 0;
                padding: 10px;
                border-radius: 4px;
            }

    .about-img {
        margin: 20px 0;
        max-width: 100%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
    }
</style>
<div class="about-container">
    <section class="about-section">
        <h2>Về Website</h2>
        <p>Website của tập đoàn tôi là một trong những website hàng đầu trong lĩnh vực công nghệ thông tin tại Việt Nam. Chúng tôi được thành lập vào năm 2024 và đã không ngừng phát triển và mở rộng hoạt động trong suốt 2 tuần qua.</p>
    </section>
    <img src="https://sohanews.sohacdn.com/2017/photo-2-1484015752096.gif" class="about-img">
    <section class="about-section">
        <h2>Tầm nhìn và Sứ mệnh</h2>
        <p>Tầm nhìn của Tập đoàn chúng tôi là trở thành tập đoàn công nghệ hàng đầu tại Việt Nam, cung cấp các giải pháp công nghệ tiên tiến và đổi mới. Sứ mệnh của chúng tôi là góp phần thúc đẩy sự phát triển của công nghệ thông tin, mang lại những giá trị gia tăng cho khách hàng và cộng đồng.</p>
    </section>
    <img src="https://fdesign.vn/wp-content/uploads/2022/07/huong-dan-cach-viet-tam-nhin-su-menh.jpg" class="about-img">
    <section class="about-section">
        <h2>Các Giá Trị Cốt Lõi</h2>
        <ul>
            <li>Sáng tạo</li>
            <li>Khác biệt</li>
            <li>Tin cậy</li>
            <li>Kỉ luật</li>
            <li>Chất lượng</li>
        </ul>
    </section>
    <img src="https://cdn.vuiapp.vn/cdn/ff/L-2CpooQp22sQ0JouTnQnu8SkBySxm2D4CQiC3TX5AI/1648658054/public/2022-03/gia-tri-cot-loi-cua-doanh-nghiep-1%20%281%29.jpg" class="about-img">
</div>