.card-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.rating-card {
    margin-bottom: 15px;
}

.btn-primary {
    border-radius: 50px;
    padding: 10px 20px;
}

    .btn-primary:hover {
        background-color: #0056b3;
        color: white;
    }

.text-dark {
    color: #343a40 !important;
}

.text-danger {
    color: #dc3545 !important;
}
